<!DOCTYPE html>
<html>
    <head>
        <title>seabeInfo-Home</title>

    </head>

    <body>


<section class="contact">
<div class="content">
  <h2>Contact Us</h2>
  <p>MDS Project whatsApp numbers and emails are always monitored to be able to assist you as quickly as possible.Get in touch with us to assist with your electrical issues any day and time as we are available to service you 24/7.</p>
</div>
<div class="container">
<div class="contactInfo">
  <div class="box">
    <div class="icon"><i class="fa fa-map-marker"></i></div>
<div class="text">
  <h3>Address</h3>
  <p>170 Flowers Street <br>Capital Park<br>Pretoria<br>0084</p>
</div>
  </div>

<div class="box">
  <div class="icon"><i class="fa fa-whatsapp"></i></div>
<div class="text">
  <h3>Phone</h3>
  <p>072 239 3585 / 079 832 1077</p>
</div>
</div>

<div class="box">
  <div class="icon"><i class="fa fa-envelope"></i></div>
<div class="text">
  <h3>Email</h3>
  <p>dikgangmatjila@gmail.com / matjilatj2@gmail.com</p>
</div>
</div>
  </div>
  <div class="contactForm">
    <form>
      <h2>Send Message</h2>
      <div class="inputBox">
        <input type="text" name="" required="required">
        <span>Full Name</span>
      </div>
      <div class="inputBox">
        <input type="email" name="" required="required">
        <span>Email</span>
      </div>
      <div class="inputBox">
        <textarea required="required"></textarea>
        <span>Write your message...</span>
      </div>
      <div class="inputBox">
        <input type="submit" name="" value="Send">
      </div>
    </form>
  </div>
</div>
</section>
<footer class="footer-area">
  <div class="footer-social-icons">
   <ul>
      <li><a href="0747890287" class="nav-link"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="https://www.facebook.com/MDS-Project-100253202052759" class="nav-link"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" class="nav-link"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" class="nav-link"><i class="fa fa-instagram"></i></a></li>
</ul>
  </div>

  <div class="footer-menu">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/service">Service</a></li>
    </ul>
  </div>

</footer>
<div class="footer-bottom">
 <p>Copyright &copy; 2021 MD Technologies. All Rights Reserved.</p>
</div>
</body>
</html>
