<!DOCTYPE html>
<html>
    <head>
        <title>MDS Project-Home</title>

    </head>

    <body>

        <section class="intro">
            <div class="inner">
                <div class="content">
                  <p class="h3">Electrical engineers you can trust to solve any electrical problems you have</p>
                  <p class="lead">24 Hours Electrical Services</p>
                  <h3><b></b></h3>
                  <p><a class="btn btn-lg btn-primary" routerLink="/contact">CALL MDS Project</a></p>
                </div>
            </div>
        </section>

        <section>
          <div class="navbar navbar-expand-lg navbar-dark badge-dark">
              <p class="text-md-center">We offer the solution to any electrical project</p>
          </div>
        </section>

			<!-- Start service Area -->
			<section class="service-area section-gap" id="service">
				<div class="containers">
					<div class="row justify-content-center">
						<div class="col-md-12 pb-50 header-text text-center">
							<h1 class="mb-10"></h1>
							<p>
							We are a 24/7 reliable electrical services company..
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="assets/Images/fence.jpg" alt="" width="220" height="150" >
								</div>
								<h4>Electric Fencing</h4>
								<p>
									inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="assets/Images/meter.jfif" alt="" height="150" >
								</div>
								<h4>Meter Installation</h4>
								<p>
									inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="assets/Images/fau.jfif" alt="" width="220" height="150" >
								</div>
								<h4>Fault Finding</h4>
								<p>
									inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="assets/Images/elem.jfif" alt="" width="220" height="150" >
								</div>
								<h4>Geysers Maintenance</h4>
								<p>
									inappropriate behavior is oftenlaug hed off as “boys will be boys,” women face higher conduct women face higher conduct.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End service Area -->
        <footer class="footer-area">
           <div class="footer-social-icons">
            <ul>
               <li><a href="0747890287" class="nav-link"><i class="fa fa-whatsapp"></i></a></li>
               <li><a href="https://www.facebook.com/MDS-Project-100253202052759" class="nav-link"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="nav-link"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#" class="nav-link"><i class="fa fa-instagram"></i></a></li>
         </ul>
           </div>

           <div class="footer-menu">
             <ul>
               <li><a routerLink="/home">Home</a></li>
               <li><a routerLink="/about">About</a></li>
               <li><a routerLink="/contact">Contact</a></li>
               <li><a routerLink="/service">Service</a></li>
             </ul>
           </div>

        </footer>
        <div class="footer-bottom">
          <p>Copyright &copy; 2021 MD Technologies. All Rights Reserved.</p>
         </div>

    </body>
</html>


